@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
     -moz-box-shadow: $top $left $blur $color;
          box-shadow: $top $left $blur $color;
}

@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}

@mixin unselectable {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  /***
  To target IE9 downwards and Opera the html attribute unselectable must be used instead:
  <div unselectable="on">Test Text</div>
  ***/
}

@mixin ul-horizontal {
  list-style: none;
  margin:0;
  padding:0;
}