@mixin row-element {
  float: left;
  position: relative;
  *display: inline;
}

@mixin row-element-l1-w24 {
  left: 00%;
  margin-right: -480%;
  width: 480%;
}

@mixin row-element-l2-w22 {
  left: 20%;
  margin-right: -440%;
  width: 440%;
}

@mixin row-element-l2-w23 {
  left: 20%;
  margin-right: -460%;
  width: 460%;
}

@mixin row-element-l3-w11 {
  left: 40%;
  margin-right: -220%;
  width: 220%;
}

@mixin row-element-l3-w15 {
  left: 40%;
  margin-right: -300%;
  width: 300%;
}

@mixin row-element-l3-w21 {
  left: 40%;
  margin-right: -420%;
  width: 420%;
}

@mixin row-element-l3-w22 {
  left: 40%;
  margin-right: -440%;
  width: 440%;
}

@mixin row-element-l19-w6 {
  left: 340%;
  margin-right: -140%;
  width: 140%;
}

/****************************/

.row {
  padding-right: 79.17%;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *padding-right: 0;
  *margin-right: 79.17%;
  *zoom: 1;
}

.row:before, .row:after {
  clear: both;
  content: '';
  display: block;
}